In [1]:
tup=1,2,3
tup

(1, 2, 3)

In [4]:
tup=tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
t=[1,2,3,4,5]
print(type(t))

<class 'list'>

In [8]:
print(tuple(t))

(1, 2, 3, 4, 5)

In [9]:
print(type(t))

<class 'list'>

In [10]:
tup=tuple('AZAR')
print(tup)

('A', 'Z', 'A', 'R')

In [13]:
list=['A','Z','A','R']
list

['A', 'Z', 'A', 'R']

In [14]:
print(type(list))

<class 'list'>

In [15]:
print(tuple(list))

('A', 'Z', 'A', 'R')

In [16]:
n_tup=(1,2,3,4),(5,6)
n_tup

((1, 2, 3, 4), (5, 6))

In [17]:
n_tup[0]

(1, 2, 3, 4)

In [27]:
n_tup[1]

(5, 6)

In [28]:
tup=('azar',(1,2),987)
tup

('azar', (1, 2), 987)

In [29]:
# not mutable tuple:
tup[0]=43

TypeError: 'tuple' object does not support item assignment

In [30]:
tup+n_tup

('azar', (1, 2), 987, (1, 2, 3, 4), (5, 6))

In [33]:
str_n=('azar','ameer')*4
print(str_n)

('azar', 'ameer', 'azar', 'ameer', 'azar', 'ameer', 'azar', 'ameer')

In [36]:
str_n*5

('azar',
 'ameer',
 'azar',
 'ameer',
 'azar',
 'ameer',
 'azar',
 'ameer',
 'azar',
 'ameer',
 'azar',
 'ameer',
 'azar',
 'ameer',
 'azar',
 'ameer',
 'azar',
 'ameer',
 'azar',
 'ameer',
 'azar',
 'ameer',
 'azar',
 'ameer',
 'azar',
 'ameer',
 'azar',
 'ameer',
 'azar',
 'ameer',
 'azar',
 'ameer',
 'azar',
 'ameer',
 'azar',
 'ameer',
 'azar',
 'ameer',
 'azar',
 'ameer')

In [37]:
#unpaching:
tup=[(1,2,3),(1,2,3),(1,2,3)]
for a,b,c in tup:
        print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=1, b=2, c=3
a=1, b=2, c=3

In [42]:
import pandas as pd
import numpy as np

In [41]:
obj=pd.Series([1,2,3,4,5])
obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [44]:
x=obj.array
x

<PandasArray>
[1, 2, 3, 4, 5]
Length: 5, dtype: int64

In [48]:
x[4]

5

In [52]:
len(x)

5

In [55]:
x=pd.Series([1,2,3,4,5,6],index=["a","b","c","d","e","f"])
x

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [56]:
x[a]

2

In [58]:
x['f']

6

In [59]:
x['c']

3

In [60]:
x[['a','b','c']]

a    1
b    2
c    3
dtype: int64

In [62]:
x[x>4]

e    5
f    6
dtype: int64

In [63]:
x*3

a     3
b     6
c     9
d    12
e    15
f    18
dtype: int64

In [64]:
x*2

a     2
b     4
c     6
d     8
e    10
f    12
dtype: int64

In [65]:
1 in x

False

In [66]:
2 in x

False

In [67]:
'2' in x

False

In [68]:
"2" in x

False

In [69]:
"a" in x

True

In [70]:
"b" in x

True

In [79]:
data={"azar":1000,"ameer":"2000","mani":"3000"}
obj=pd.Series(data)
obj

azar     1000
ameer    2000
mani     3000
dtype: object

In [76]:
obj.to_dict()

{'azar': 1000, 'ameer': '2000', 'mani': '3000'}

In [80]:
states=["mlg","wlg","jngp"]

In [81]:
obj4=pd.Series(obj,index=states)
obj4

mlg     NaN
wlg     NaN
jngp    NaN
dtype: object

In [82]:
obj

azar     1000
ameer    2000
mani     3000
dtype: object

In [83]:
states

['mlg', 'wlg', 'jngp']

In [85]:
pd.isna(obj)

azar     False
ameer    False
mani     False
dtype: bool

In [86]:
pd.isna(obj4)

mlg     True
wlg     True
jngp    True
dtype: bool

In [87]:
pd.notna(obj4)

mlg     False
wlg     False
jngp    False
dtype: bool