<a href="https://colab.research.google.com/github/21075A6603/datamining/blob/main/censux_2011.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [14]:
data=pd.read_csv('/content/Census+2011.csv')

In [3]:
data.head()

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,214866,162578,52288,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,51873,39839,12034,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,161393,117677,43716,...,958,11188,83,10,46062,29517,13962,304979,109818,61334

In [6]:
data.columns

Index(['District_code', 'State_name', 'District_name', 'Population', 'Male',
       'Female', 'Literate', 'Workers', 'Male_Workers', 'Female_Workers',
       'Cultivator_Workers', 'Agricultural_Workers', 'Household_Workers',
       'Hindus', 'Muslims', 'Christians', 'Sikhs', 'Buddhists', 'Jains',
       'Secondary_Education', 'Higher_Education', 'Graduate_Education',
       'Age_Group_0_29', 'Age_Group_30_49', 'Age_Group_50'],
      dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   District_code         640 non-null    int64
 1   State_name            640 non-null    object
 2   District_name         640 non-null    object
 3   Population            640 non-null    int64
 4   Male                  640 non-null    int64
 5   Female                640 non-null    int64
 6   Literate              640 non-null    int64
 7   Workers               640 non-null    int64
 8   Male_Workers          640 non-null    int64
 9   Female_Workers        640 non-null    int64
 10  Cultivator_Workers    640 non-null    int64
 11  Agricultural_Workers  640 non-null    int64
 12  Household_Workers     640 non-null    int64
 13  Hindus                640 non-null    int64
 14  Muslims               640 non-null    int64
 15  Christians            640 non-null    int64
 16  Sikhs                 640 non-null    int64
 17  Buddhists             640 non-null    int64
 18  Jains                 640 non-null    int64
 19  Secondary_Education   640 non-null    int64
 20  Higher_Education      640 non-null    int64
 21  Graduate_Education    640 non-null    int64
 22  Age_Group_0_29        640 non-null    int64
 23  Age_Group_30_49       640 non-null    int64
 24  Age_Group_50          640 non-null    int64
dtypes: int64(23), object(2)
memory usage: 125.1+ KB

In [ ]:
#remove the index values in the df
data.style.hide_index()

In [ ]:
#set caption for the dataframe:
data.style.set_caption("census adata of 2011")

In [21]:
data.head(1)

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679

In [34]:
data[data['District_name'].isin(['New Delhi','Lucknow','Jaipur'])]

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
93,94,NCT OF DELHI,New Delhi,142004,77942,64062,114179,59541,46940,12601,...,4852,2933,312,679,15942,17742,23934,76076,43913,21773
109,110,RAJASTHAN,Jaipur,6626178,3468507,3157671,4300965,2464893,1714947,749946,...,12708,18782,1020,81079,659389,455527,703673,4091148,1646480,884057
156,157,UTTAR PRADESH,Lucknow,4589838,2394476,2195362,3127260,1542806,1226399,316407,...,20493,23883,3877,4975,428121,378742,639260,2678289,1161686,685258

In [43]:
#total number of populaation state wise:
data.groupby('State_name').Population.sum().sort_values()

State_name
LAKSHADWEEP                        64473
DAMAN AND DIU                     243247
DADRA AND NAGAR HAVELI            343709
ANDAMAN AND NICOBAR ISLANDS       380581
SIKKIM                            610577
CHANDIGARH                       1055450
MIZORAM                          1097206
PONDICHERRY                      1247953
ARUNACHAL PRADESH                1383727
GOA                              1458545
NAGALAND                         1978502
MANIPUR                          2855794
MEGHALAYA                        2966889
TRIPURA                          3673917
HIMACHAL PRADESH                 6864602
UTTARAKHAND                     10086292
JAMMU AND KASHMIR               12541302
NCT OF DELHI                    16787941
HARYANA                         25351462
CHHATTISGARH                    25545198
PUNJAB                          27743338
ASSAM                           31205576
JHARKHAND                       32988134
KERALA                          33406061
ORISSA                          41974218
GUJARAT                         60439692
KARNATAKA                       61095297
RAJASTHAN                       68548437
TAMIL NADU                      72147030
MADHYA PRADESH                  72626809
ANDHRA PRADESH                  84580777
WEST BENGAL                     91276115
BIHAR                          104099452
MAHARASHTRA                    112374333
UTTAR PRADESH                  199812341
Name: Population, dtype: int64

In [44]:
data.head(1)

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679

In [46]:
data.columns

Index(['District_code', 'State_name', 'District_name', 'Population', 'Male',
       'Female', 'Literate', 'Workers', 'Male_Workers', 'Female_Workers',
       'Cultivator_Workers', 'Agricultural_Workers', 'Household_Workers',
       'Hindus', 'Muslims', 'Christians', 'Sikhs', 'Buddhists', 'Jains',
       'Secondary_Education', 'Higher_Education', 'Graduate_Education',
       'Age_Group_0_29', 'Age_Group_30_49', 'Age_Group_50'],
      dtype='object')

In [52]:
data.groupby('State_name')['Hindus', 'Muslims', 'Christians', 'Sikhs', 'Buddhists', 'Jains'].sum().sort_values(by='Hindus')

<ipython-input-52-7b084a803f06>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby('State_name')['Hindus', 'Muslims', 'Christians', 'Sikhs', 'Buddhists', 'Jains'].sum().sort_values(by='Hindus')

,Hindus,Muslims,Christians,Sikhs,Buddhists,Jains
State_name,,,,,,
LAKSHADWEEP,1788,62268,317,8,10,11
MIZORAM,30136,14832,956331,286,93411,376
NAGALAND,173054,48963,1739651,1890,6759,2655
DAMAN AND DIU,220150,19277,2820,172,217,287
ANDAMAN AND NICOBAR ISLANDS,264296,32413,80984,1286,338,31
DADRA AND NAGAR HAVELI,322857,12922,5113,217,634,1186
MEGHALAYA,342078,130399,2213027,3045,9864,627
SIKKIM,352662,9867,60522,1868,167216,314
ARUNACHAL PRADESH,401876,27045,418732,3287,162815,771
CHANDIGARH,852574,51447,8720,138329,1160,1960
GOA,963877,121564,366130,1473,1095,1109
PONDICHERRY,1089409,75556,78550,297,451,1400
MANIPUR,1181876,239836,1179043,1527,7084,1692
TRIPURA,3063903,316042,159882,1070,125385,860
JAMMU AND KASHMIR,3566674,8567485,35631,234848,112584,2490
HIMACHAL PRADESH,6532765,149881,12646,79896,78659,1805
UTTARAKHAND,8368636,1406825,37781,236340,14926,9183
PUNJAB,10678138,535489,348230,16004754,33237,45040
NCT OF DELHI,13712100,2158684,146093,570581,18449,166231
KERALA,18282492,8873472,6141269,3814,4752,4489
ASSAM,19180759,10679345,1165867,20672,54993,25949
HARYANA,22171128,1781342,50353,1243752,7514,52613
JHARKHAND,22376051,4793994,1418608,71422,8956,14974
CHHATTISGARH,23819789,514998,490542,70036,70467,61510
ORISSA,39300341,911670,1161708,21991,13852,9420
KARNATAKA,51317472,7893065,1142647,28773,95710,440280
GUJARAT,53533988,5846761,316178,58246,30483,579654
RAJASTHAN,60657103,6215377,96430,872930,12185,622023
TAMIL NADU,63188168,4229479,4418331,14601,11186,89265
WEST BENGAL,64385546,24654825,658618,63523,282898,60141
MADHYA PRADESH,66007121,4774695,213282,151412,216052,567028
ANDHRA PRADESH,74824149,8082412,1129784,40244,36692,53849
BIHAR,86078686,17557809,129247,23779,25453,18914
MAHARASHTRA,89703057,12971152,1080073,223247,6531200,1400349
UTTAR PRADESH,159312654,38483967,356448,643500,206285,213267

In [53]:
data.columns

Index(['District_code', 'State_name', 'District_name', 'Population', 'Male',
       'Female', 'Literate', 'Workers', 'Male_Workers', 'Female_Workers',
       'Cultivator_Workers', 'Agricultural_Workers', 'Household_Workers',
       'Hindus', 'Muslims', 'Christians', 'Sikhs', 'Buddhists', 'Jains',
       'Secondary_Education', 'Higher_Education', 'Graduate_Education',
       'Age_Group_0_29', 'Age_Group_30_49', 'Age_Group_50'],
      dtype='object')

In [65]:
data

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,214866,162578,52288,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,51873,39839,12034,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,161393,117677,43716,...,958,11188,83,10,46062,29517,13962,304979,109818,61334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816,19143,22673,36470,11802,9093,2709,...,958,3,21,14,8773,5711,4475,19760,12543,9428
636,637,PONDICHERRY,Karaikal,200222,97809,102413,154916,68301,53139,15162,...,18391,46,63,54,29456,15930,18998,102333,60089,37434
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842,20727,16115,25332,17125,12714,4411,...,26077,343,119,0,6325,3668,1300,18786,12088,5922
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597,54861,50736,78683,38579,30612,7967,...,21870,77,84,4,12707,10042,5133,57350,30741,17464
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,238142,127283,110859,190266,96831,77563,19268,...,33037,866,135,27,42150,29910,22388,128402,76332,33128

In [69]:
data[data.State_name=='MAHARASHTRA']['Male_Workers'].sum()

32616875

In [ ]:
#set the index as the districct col:
data.set_index('District_code')

In [76]:
#set prefix and sufficx to the column of the df:
data.add_suffix('_hi')

,District_code_hi,State_name_hi,District_name_hi,Population_hi,Male_hi,Female_hi,Literate_hi,Workers_hi,Male_Workers_hi,Female_Workers_hi,...,Christians_hi,Sikhs_hi,Buddhists_hi,Jains_hi,Secondary_Education_hi,Higher_Education_hi,Graduate_Education_hi,Age_Group_0_29_hi,Age_Group_30_49_hi,Age_Group_50_hi
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,214866,162578,52288,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,51873,39839,12034,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,161393,117677,43716,...,958,11188,83,10,46062,29517,13962,304979,109818,61334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816,19143,22673,36470,11802,9093,2709,...,958,3,21,14,8773,5711,4475,19760,12543,9428
636,637,PONDICHERRY,Karaikal,200222,97809,102413,154916,68301,53139,15162,...,18391,46,63,54,29456,15930,18998,102333,60089,37434
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842,20727,16115,25332,17125,12714,4411,...,26077,343,119,0,6325,3668,1300,18786,12088,5922
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597,54861,50736,78683,38579,30612,7967,...,21870,77,84,4,12707,10042,5133,57350,30741,17464
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,238142,127283,110859,190266,96831,77563,19268,...,33037,866,135,27,42150,29910,22388,128402,76332,33128

In [78]:
data.add_prefix('front_')

,front_District_code,front_State_name,front_District_name,front_Population,front_Male,front_Female,front_Literate,front_Workers,front_Male_Workers,front_Female_Workers,...,front_Christians,front_Sikhs,front_Buddhists,front_Jains,front_Secondary_Education,front_Higher_Education,front_Graduate_Education,front_Age_Group_0_29,front_Age_Group_30_49,front_Age_Group_50
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,214866,162578,52288,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,51873,39839,12034,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,161393,117677,43716,...,958,11188,83,10,46062,29517,13962,304979,109818,61334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816,19143,22673,36470,11802,9093,2709,...,958,3,21,14,8773,5711,4475,19760,12543,9428
636,637,PONDICHERRY,Karaikal,200222,97809,102413,154916,68301,53139,15162,...,18391,46,63,54,29456,15930,18998,102333,60089,37434
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842,20727,16115,25332,17125,12714,4411,...,26077,343,119,0,6325,3668,1300,18786,12088,5922
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597,54861,50736,78683,38579,30612,7967,...,21870,77,84,4,12707,10042,5133,57350,30741,17464
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,238142,127283,110859,190266,96831,77563,19268,...,33037,866,135,27,42150,29910,22388,128402,76332,33128